<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchenette</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1868/1868669.svg">
    <link rel="stylesheet" href="/css/account.css">
</head>
<body>

    <div class="viewport">
        <div class="left">
            <div class="left__content">
                <h1>Kitchenette</h1>
                <p>Join us for an easier culinary experience <br> we'll manage all the boring stuff, you can focus on the cooking</p>
                <a href="/">Home Page</a>
            </div>
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="right">
            <div class="login__content">
                <img src="https://image.flaticon.com/icons/svg/868/868792.svg" alt="">
                <h1>Page not found!</h1>
            </div>
        </div>
    </div>
    
</body>
</html>