<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchenette</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1868/1868669.svg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <div class="landing__jumbotron">
        <div class="landing__jumbotron__flex">
            <div class="landing__jumbotron__title">
                <h1>Kitchenette</h1>
                <p>one place for all your grocery and recipe needs</p>
            </div>
            <a href="/register">
                <div class="landing__jumbotron__button">GET STARTED</div>
            </a>
        </div>
    </div>

    <div class="landing__features">
        <div class="landing__features__cards">
            <div class="landing_features_card">
                <img src="https://image.flaticon.com/icons/svg/1830/1830878.svg" alt="">
                <div class="landing__features__cardContent">
                    <h1>Recipes</h1>
                    <p>a collection of all your favorite recipes that you can add or delete at any point</p>
                </div>
            </div>
            <div class="landing_features_card">
                <img src="https://image.flaticon.com/icons/svg/1868/1868669.svg" alt="">
                <div class="landing__features__cardContent">
                    <h1>Smart Suggestions</h1>
                    <p>our AI will let you know what’s available to cook based on your recipes and ingredients in stock</p>
                </div>
            </div>
            <div class="landing_features_card">
                <img src="https://image.flaticon.com/icons/svg/2909/2909841.svg" alt="">
                <div class="landing__features__cardContent">
                    <h1>Ingredients</h1>
                    <p>a list of all the ingredients you can log to keep track of your inventory, we love to use this as a shopping list</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>