<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchenette</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1868/1868669.svg">
    <link rel="stylesheet" href="/css/account.css">
</head>
<body>
    <div class="viewport">
        <div class="left">
            <div class="left__content">
                <h1>Create Account</h1>
                <p>Join us for an easier culinary experience <br> we'll manage all the boring stuff, you can focus on the cooking</p>
                <a href="/register">Sign Up</a>
            </div>
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="right">
            <div class="login__content">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please sign in with your personal information</p>
                <form method="POST" action="login"> 
                    <input type="email" placeholder="Email" name="user_email" required>
                    <input type="password" placeholder="Password" name="user_password" required>
                    <input type="submit" value="login">
                    <p class="error"><%= error %></p>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>