<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchenette</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1868/1868669.svg">
    <link rel="stylesheet" href="account.css">
</head>
<body>

    <div class="viewport">
        <div class="left">
            <div class="left__content">
                <h1>Welcome Back!</h1>
                <p>If you already have an account, please proceed here</p>
                <a href="/login">Sign In</a>
            </div>
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="right">
            <div class="login__content">
                <h1>Create Account</h1>
                <p>To keep connected with us please sign up with your personal information</p>
                <form  method="POST" action="register">
                    <input type="email" placeholder="Email" class="createAccount_input" name="email">
                    <input type="password" placeholder="Password" class="createAccount_input" name="password">
                    <input type="submit" class="createAccount_button" value="register">
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>